<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>    
        {% if page.layout == 'home' %} 
            {{site.name}} | {{ site.subtitle }}
        {% else %}
            {{ page.title }} | {{ site.name }}
        {% endif %}
    </title>

    {% seo %}

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Infozy" />
    <meta name="msapplication-TileColor" content="#142850" />
    <meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/icons/mstile-310x310.png" />


    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{site.twitter_username}}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta property="twitter:image:src" content="{{ page.image }}">
    {% else %}
    <meta property="twitter:image:src" content="https://i.ibb.co/x879hZd/Business.png">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.siteurl }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}">
    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}">
    {% else %}
    <meta property="og:image" content="https://i.ibb.co/x879hZd/Business.png">
    {% endif %}
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }} | {{ site.username }}{% else %}{{ site.title }}{% endif %}"/>
    <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="https://i.ibb.co/x879hZd/Business.png"/>


    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">

    <!-- Bootstrap Modified -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/assets/css/theme.css">

    <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    {% include tracking-header.html %}


</head>

<body class="{% if page.url == "/" %} homefirstpage {% endif %}">

    <!-- Navbar -->
    <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <span class="navbar-brand"><a href="/"><strong>{{site.name}}</strong></a></span>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02" style="">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
               {% include menu-header.html %}
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                {% include search-lunr.html %}
            </ul>
        </div>
    </div>
    </nav>

    <!-- Search Results -->
    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>

    <!-- Content -->
    <main role="main" class="site-content">
        {{ content }}
    </main>


    <!-- Scripts: popper, bootstrap, theme, lunr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <script src="/assets/js/theme.js"></script>


    <!-- Footer -->
    <footer class="bg-white border-top p-3 text-muted small">
        <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center footer-size-text text-lg-center">    
                <span><a href="/sitemap.xml"> SiteMap </a>&nbsp; | &nbsp;<a href="/feed.xml"> RSS Feed </a> &nbsp;|&nbsp; <a href="https://dopetrope.tk/privacypolicy"> Privacy Policy </a> &nbsp;|&nbsp; <a href="https://dopetrope.tk/cookiepolicy"> Cookie Policy </a> &nbsp;|&nbsp; <a href="https://dopetrope.tk/license" target="_blank"> License </a></span>
            </div>
            <div class="col-md-12 col-sm-12 text-center footer-size-text text-lg-center">    
                Site last Updated on - <span><b>{{ "now" | date:"%a, %b %d, %H:%M %P" }}</b></span>
            </div>
            <div class="col-md-12 col-sm-12 text-center footer-size-text text-lg-center">    
                  <span><b>{{ site.name }}</b> is a Part of <a href="https://infozy.tk" target="_blank"><b>Infozy Group</b></a>.</span>
            </div>
            <div class="col-md-12 col-sm-12 text-center footer-size-text text-lg-center">    
                <span>Please Review Our <a href="https://dopetrope.tk/privacypolicy" target="_blank"> Privacy Policy</a> and <a href="https://dopetrope.tk/cookiepolicy" target="_blank"> Cookie Policy </a> for How we Process User Data.
                </span>
            </div>
            <div class="col-md-12 col-sm-12 text-center footer-size-text text-lg-center">    
                <span><b>{{ site.time | date: "%Y" }} | {{ site.title }}</b></span>
            </div>
        </div>
    </div>
    </footer>
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", function(user) {
            if (!user) {
                window.netlifyIdentity.on("login", function() {
                    document.location.href = "/admin/";
                });
            }
        });
    }
    </script>
    {% include tracking-footer.html %}

</body>

</html>
